body{
    margin: 0px;
}

#grid-cont{
    display: grid;
    grid-template-columns: 1 fr 1 fr;
}
#head{  
    grid-column: span 2;
    background-color:rgb(241, 241, 241);
    font-size: 10px;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    padding: 10px;


}



#yourcourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;



    
}
@media screen and ( max-width: 600px) {
    #yourcourses{
        grid-template-columns: 1fr;
    }
}

#yourcourses > div{
    background: #ece2e2;
    align-items: center;
    text-align: center;
    margin: 10px;
    
}

#yourcourses >div div{
    font-weight: bold;

}

#yourcourses div div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#yourcourses div :nth-child(1){
    width: 100%;
    height: 300px;
}